.container{
    height: 350px;
    width: 120px;
    background-color: gray;
}

.semaphore{
    border: 2px solid black;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    background-color: black;
    margin: 10px 10px 10px 10px
}

.semaphore.red{
    background-color: red;
}

.semaphore.yellow{
    background-color: yellow;
}

.semaphore.green{
    background-color:green;
}